<div class="custom" *ngIf="artist">
  <div class="row">
    <div class="card h-100" *ngIf="artist.images.length > 0">
      <img
        src="{{ artist.images[0].url }}"
        style="height: 300px; width: 300px"
      />
      <div class="card-body">
        <h6 class="card-title">
          <h5>Artist Name: {{ artist.name }}</h5>
        </h6>
        <ul class="card-text">
          <li>Followers: {{ artist.followers.total }}</li>
          <li>Popularity: {{ artist.popularity }}</li>
          <li>Genres: {{ artist.genres }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div><input type="button" value="Back to Search" [routerLink]="['/']" /></div>
</div>
